<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>unitConverterProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5EEA6F41F0D6F9F006FC1E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5EEA7081F0D6F9F006FC1E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5EEA7131F0D6F9F006FC1E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
